<p id="notice"><%= notice %></p>

<h1>Solar Systems</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Galaxy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solar_systems.each do |solar_system| %>
      <tr>
        <td><%= solar_system.name %></td>
        <td><%= solar_system.description %></td>
        <td><%= solar_system.galaxy_id %></td>
        <td><%= link_to 'Show', solar_system %></td>
        <td><%= link_to 'Edit', edit_solar_system_path(solar_system) %></td>
        <td><%= link_to 'Destroy', solar_system, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solar System', new_solar_system_path %>
