<%= form_with(model: north_star) do |form| %>
  <% if north_star.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(north_star.errors.count, "error") %> prohibited this north_star from being saved:</h2>

      <ul>
        <% north_star.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :solar_system_id %>
    <%= form.number_field :solar_system_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :data_source %>
    <%= form.number_field :data_source %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
