<p id="notice"><%= notice %></p>

<h1>Stargates</h1>

<table>
  <thead>
    <tr>
      <th>Automatic</th>
      <th>Source</th>
      <th>Start</th>
      <th>End</th>
      <th>Blocking</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stargates.each do |stargate| %>
      <tr>
        <td><%= stargate.automatic %></td>
        <td><%= stargate.source %></td>
        <td><%= stargate.start_id %></td>
        <td><%= stargate.end_id %></td>
        <td><%= stargate.blocking %></td>
        <td><%= link_to 'Show', stargate %></td>
        <td><%= link_to 'Edit', edit_stargate_path(stargate) %></td>
        <td><%= link_to 'Destroy', stargate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stargate', new_stargate_path %>
